body {
    background-color: #444;
}
.jumbotron {
    text-align: center;
    background-color:slategray;
}

 /* The sidebar menu */
 .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

img {
  width: 100px;
}

.dire-col {
  background-color: #d80700;
}

.radi-col {
  background-color: #a6b719;
}
#teamfight-title {
  text-align: center;
}

.player-card {
  background-color: #1e3f66;
  color:lightgray;
}

.hero-card {
  background-color: #2e5984;
  color:lightgray;
}

h4 {
  font-size:23px;
}

.game-hero-card {
  background-color: #3f7597;
  color:lightgray;
}

.game-stat-card {
  background-color: #588aac;
  color:lightgray;
}
#player-name h1{
  font-size:20px;
}

.col-md-2 {
  text-align:center;
}
.col-md-2 h1 {
  font-size:30px;
  text-emphasis: underline;
  color:white;
}
.min-stats {
  background-color: #1E3F66;
  color:white;
}

#team-radi {
  background-color:#ABA943
}

#team-dire {
  background-color:#ab3131
}
#team-radi p{
  font-size: 10px;
}

#team-dire p{
  font-size:10px
}